@use '../../foundation/variables' as var;
@use '../foundation/mixins' as mixin; // mixinの読み込み

.category-label {
  background-color: var.$primary-color;
  color: var.$text-color-light;
  padding: var.$padding-category-label;
  display: inline-block;
  border-radius: 0 var.$border-radius-base var.$border-radius-base 0;
  font-size: 16px; // デスクトップでの基準フォントサイズ

  // 画面幅が768px以下の場合に適用
  @include mixin.media-query(var.$breakpoint-md) {
    font-size: 14px;  // フォントを小さくする
    padding: 4px 8px; // 余白を狭くする
  }
}