@use '../../foundation/variables' as var;
@use '../../foundation/mixins' as mixin; // mixinの読み込み

.keyword,
.keyword-comma {
  display: inline-block;
  background-color: var.$background-color-keyword;
  padding: var.$padding-keyword;
  margin: var.$margin-keyword;
  border-radius: var.$border-radius-base;
  cursor: pointer;
  border: var.$border-keyword;
  transition: background-color var.$transition-duration-base, color var.$transition-duration-base;
  user-select: none;
  font-size: 16px; // デスクトップでの基準フォントサイズ

  &:hover {
    background-color: var.$background-color-keyword-hover;
  }

  &.selected {
    background-color: var.$primary-color;
    color: var.$text-color-light;
    border-color: var.$border-color-primary-dark;
  }

  // 画面幅が768px以下の場合に適用
  @include mixin.media-query(var.$breakpoint-md) {
    font-size: 14px;      // フォントを小さくする
    padding: 4px 8px;     // 余白を狭くする
    margin: 3px;          // マージンも少し狭くする
  }
}