@use '../../../foundation/variables' as var;

.category-section {
  margin-bottom: var.$margin-bottom-category-section;

  .category-item {
    position: relative;
    border-left: var.$border-category-item;
    padding-left: 0; 
    margin-bottom: var.$margin-bottom-category-item;

    .keywords-wrapper {
      display: flex;
      flex-wrap: wrap;
      padding: var.$padding-keywords-wrapper 0 var.$padding-keywords-wrapper var.$padding-keywords-wrapper;
    }
  }
}