@use '../../foundation/variables' as var;
@use '../foundation/mixins' as mixin; // mixinの読み込み

.control-panel {
  position: fixed;
  bottom: var.$padding-body;
  right: var.$padding-body;
  background: var.$background-color-container;
  padding: var.$padding-control-panel;
  border-radius: var.$border-radius-control-panel;
  box-shadow: var.$box-shadow-control-panel;
  z-index: var.$z-index-control-panel;
  display: flex;
  align-items: center;
  transition: height var.$transition-duration-base var.$transition-timing-function-base; 
  height: auto;

  // 画面幅が768px以下の場合に適用
  @include mixin.media-query(var.$breakpoint-md) {
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    justify-content: center; // 中の要素を中央揃えに
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); // 上向きの影に変更

    // スマートフォンのセーフエリアを考慮
    padding-bottom: calc(var.$padding-control-panel + env(safe-area-inset-bottom));
  }
}
